<h1>Blogger Dashboard</h1>

<hr>

<div class='dashboard_block'>
  <h4>Most Recent Articles</h4>
  <% @articles.each do |article| %>
    <p>
      <%= link_to article.title, article %>
      <br>
      Published on <%= format_date(article.created_at) %>
    </p>
  <% end %>
</div>

<hr>

<div class='dashboard_block'>
  <h4>Most Recent Comments</h4>
  <% @comments.each do |comment| %>
    <p>
    	<%= format_date(comment.created_at) %>
      <br>
      <b><%= comment.author_name %></b>
      <br>
    	"<%= comment.body %>"
      <br>
    	<%= link_to comment.article.title, comment.article %>
    </p>
  <% end %>
</div>

<hr>

<div class="dashboard_block" id='statistics'>
  <h4>Site-Wide Statistics</h4>
  	<p>
      Total articles: <%= @article_count %>
      <br>
    	Total comments: <%= @comment_count %>
    	<br>
      Words in all articles: <%= @article_word_count %>
    	<br>
      Words in all comments: <%= @comment_word_count %>
    	<br>
      Total Words: <%= @article_word_count + @comment_word_count %>
    	<br>
      Most Popular Article: <%= link_to @most_popular_article.title, @most_popular_article if @most_popular_article %>
    </p>
</div>
