<div class="col-md-4"></div>
<div class="col-md-4">
  <h1>Log In</h1>

  <hr>

  <%= form_tag login_path do %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Submit", class: "form-control btn btn-success" %>
    </div>
  <% end %>
</div>
<div class="col-md-4"></div>
