<h1><%= @tag ? "Articles Tagged '#{@tag}'" : "All Articles" %></h1>

<hr>

<div id="sidebar">
  Filter by Tag: <%= tag_links(Tag.all) %>
</div>

<% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>

  <h5><%= format_date(article.created_at) %></h5>

  <h5><%= article.tag_list %></h5>

  <h5><%= pluralize article.comments.count, "Comment" %></h5>

  <% if current_author %>
    <div class="btn-group">
      <%= link_to "View",   article_path(article),      method: :get,     class: "btn btn-default btn-xs" %>
      <%= link_to "Edit",   edit_article_path(article), method: :get,     class: "btn btn-default btn-xs" %>
      <%= link_to "Delete", article_path(article),      method: :delete,  class: "btn btn-default btn-xs", data: { confirm: "Do you want to delete this article?" } %>
    </div>
  <% end %>
<% end %>
