<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Blogger", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @tenant %>
          <li><%= link_to "#{@tenant.name} Articles", tenant_articles_path(@tenant.slug) %></li>
          <% if current_author && @tenant == current_tenant %>
            <li><%= link_to "#{current_tenant.name} Dashboard", tenant_dashboard_path(current_tenant.slug) %></li>
            <li><%= link_to "#{current_tenant.name} Create Article", new_tenant_article_path(current_tenant.slug) %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_author %>
          <li><%= link_to "Account", tenant_account_path(current_tenant.slug) %></li>
          <li><%= link_to "Log Out", tenant_logout_path(current_tenant.slug) %></li>
        <% else %>
          <li><%= link_to "Log In", tenant_login_path(current_tenant.slug) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
