<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class='flash'><%= flash[:notice] %></p>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr/>
      <h6>
        <%= link_to 'Home', root_path %> | <%= link_to 'Dashboard', dashboard_path %>
        <% if logged_in? %>
          <%= "| Logged in as #{current_user.username}" %>
          <%= link_to "logout", logout_path, class: 'login' %>
        <% else %>
          <%= link_to "login", login_path, class: 'login' %>
        <% end %>

      </h6>
    </div>
  </div>

</body>
</html>
