<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application" %>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class='flash'><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
