<h1><%= current_author.name %></h1>

<h2>Your data</h2>
<dl>
  <dt>Name</dt>
  <dd><%= current_author.name %></dd>

  <dt>Phone Number</dt>
  <dd><%= current_author.phone_number %></dd>

  <dt>Email</dt>
  <dd><%= current_author.email %></dd>

  <dt>Website</dt>
  <dd><%= current_author.website %></dd>

  <dt>Twitter Username</dt>
  <dd>@<%= current_author.twitter %></dd>
</dl>

<h2>Your articles</h2>
<ul>
<% current_author.articles.each do |article| %>
  <li>
    <h3><%= article.title %></h3>
    <h4><%= article.comments.count %> Comments:</h4>
    <ul>
      <% article.comments.each do |comment| %>
	<li><p><%= comment.body %></p></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
