<h1><%= current_author.name %></h1>

<%= link_to "New Article", new_article_path, :class => 'new_article' %>


<h2>Your articles</h2>
<ul>
<% current_author.articles.each do |article| %>
  <li>
    <h3><%= article.title %></h3>
    <h4><%= article.comments.count %> Comments:</h4>
    <ul>
      <% article.comments.each do |comment| %>
	<li><p><%= comment.body %></p></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<% 1000.times do %>
  <p>All work and no play makes <%= current_author.name %> a bad person.</p>
<% end %>
