<h1>Hello <%= current_author.name %></h1>

<hr>

<h3>Your <%= current_author.articles.count %> Articles</h3>

<% current_author.articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <h4><%= article.comments.count %> Comments</h4>
  <% article.comments.each do |comment| %>
	  <p>
      <%= format_date(comment.created_at) %>
      <br>
      <b><%= comment.author_name %></b>
      <br>
      <%= comment.body %>
	  </p>
  <% end %>
<% end %>
