<h1><%= current_author.name %></h1>

<h2>Your data</h2>
<dl>
  <dt>Name</dt>
  <dd><%= current_author.name %></dd>

  <dt>Phone Number</dt>
  <dd><%= current_author.phone_number %></dd>

  <dt>Email</dt>
  <dd><%= current_author.email %></dd>

  <dt>Website</dt>
  <dd><%= current_author.website %></dd>

  <dt>Twitter Username</dt>
  <dd>@<%= current_author.twitter %></dd>
</dl>
